.crud{
  height:20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 50%;
background-color: green;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  text-align: center;
}
.center{
  width: 50%;
  height: 70vh;

  display: flex;
  flex-direction: column;
  margin-left: 30%;
  text-align: center;
}